SUI_NETWORK=testnet
FIRST_CHECKPOINT=308264360

DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_SCHEMA=indexer

SANDBOX=false
SANDBOX_NETWORK=localnet
SANDBOX_APP_PACKAGES=0xpackage1,0xpackage2
SANDBOX_WORLD_PACKAGES=0xpackage3,0xpackage4
SANXBOX_INGESTION_PATH=http:localhost:9000
