SUI_NETWORK=testnet

FIRST_CHECKPOINT=308264360
LAST_CHECKPOINT=308264360
# PIPELINES

DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_SCHEMA=indexer

# DB_CONNECTION_POOL_SIZE
# DB_CONNECTION_TIMEOUT_MS
# DB_STATEMENT_TIMEOUT_MS
# DB_TLS_VERIFY_CERT
# DB_TLS_CA_CERT_PATH

SANDBOX=false
SANDBOX_NETWORK=localnet
SANDBOX_APP_PACKAGES=0xpackage1,0xpackage2
SANDBOX_WORLD_PACKAGES=0xpackage3,0xpackage4
SANXBOX_INGESTION_PATH=http:localhost:9000

# CHECKPOINT_LAG
# MIN_EAGER_ROWS
# MAX_BATCH_CHECKPOINTS
# PROCESSOR_CHANNEL_SIZE
# WRITE_CONCURRENCY
# COLLECT_INTERVAL_MS
# WATERMARK_INTERVAL_MS
# WATERMARK_INTERVAL_JITTER_MS

# CHECKPOINT_BUFFER_SIZE
# RETRY_INTERVAL_MS
# STREAMING_BACKOFF_INITIAL_BATCH_SIZE
# STREAMING_BACKOFF_MAX_BATCH_SIZE
# STREAMING_CONNECTION_TIMEOUT_MS
# STREAMING_STATEMENT_TIMEOUT_MS